<div class="container">
    <ion-grid>

        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center ion-text-center ion-padding-top" size="6">
                <ion-img src="assets/svg/oink-gift.svg"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-align-self-center ion-text-center body-text ion-padding-top">
                <ion-label class="ion-padding-top header-title">¡Bienvenido a Coink!</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-align-self-center ion-text-center body-text">
                <ion-label>
                    ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!
                </ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-padding-top">
                <ion-button class="button-login " color="green" expand="block" (click)="dismiss()">
                    CONTINUAR
                </ion-button>
            </ion-col>
        </ion-row>


    </ion-grid>
</div>