@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

@font-face {
  font-family: "Avenir-Light";
  src: url("../assets/fonts/Avenir-Light.ttf");
}

@font-face {
  font-family: "Avenir-Light-Roman";
  src: url("../assets/fonts/AvenirLTStd-Roman.ttf");
}

@font-face {
  font-family: "Avenir-Light-Medium";
  src: url("../assets/fonts/AvenirLTStd-Medium.ttf");
}

@font-face {
  font-family: "Avenir-Light-Heavy";
  src: url("../assets/fonts/AvenirLTStd-Heavy.ttf");
}
