<ion-content>

  <ion-grid class="ion-padding-top">
    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-col class="ion-align-self-center ion-text-center ion-padding-top">
        <ion-img src="assets/svg/coink.svg" class="logo ion-padding-vertical center"></ion-img>
        <ion-label class="slogan">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-self-end ion-padding-bottom">
        <ion-button class="button-login" color="green" expand="block" [routerLink]="['/two-step-verification']">
          REGÍSTRATE
        </ion-button>
        <ion-button expand="block" color="greendark" class="button-login ion-margin-top">
          INGRESA
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>